2018-07-02 21:34:15,554 [abstract_gpylib.log] [MainThread] [INFO] - 127.0.0.1 [APP_ID/DEV_APP][NOT:0000006000] Created log com.ibm.applicationLogger
2018-07-02 21:34:15,776 [abstract_gpylib.write] [MainThread] [WARNING] -  * Running on http://0.0.0.0:5000/

2018-07-02 21:34:15,776 [abstract_gpylib.write] [MainThread] [WARNING] -  * Restarting with reloader

2018-07-02 21:34:15,964 [abstract_gpylib.log] [MainThread] [INFO] - 127.0.0.1 [APP_ID/DEV_APP][NOT:0000006000] Created log com.ibm.applicationLogger
2018-07-02 21:35:57,236 [abstract_gpylib.write] [Dummy-1] [DEBUG] - guard_config contains: {u'gui_username': u'admin', u'client_secret': u'7e********', u'gui_password': u'Gu********', u'hostname': u'10.10.9.105', u'client_id': u'bd9732e9-626f-4416-8436-05ef64555b05'}
2018-07-02 21:35:57,238 [abstract_gpylib.write] [Dummy-1] [DEBUG] - Creating connection to 10.10.9.105
2018-07-02 21:35:57,240 [abstract_gpylib.write] [Dummy-1] [DEBUG] - Connection URI thru https://10.10.9.105:8443
2018-07-02 21:35:57,305 [abstract_gpylib.write] [Dummy-1] [WARNING] - /usr/local/etc/GuardiumAppSDK/guard_sdk_venv/lib/python2.7/site-packages/requests/packages/urllib3/connectionpool.py:730: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.org/en/latest/security.html (This warning will only appear once by default.)
  InsecureRequestWarning)

2018-07-02 21:35:57,871 [abstract_gpylib.log] [Dummy-1] [DEBUG] - 127.0.0.1 [APP_ID/DEV_APP][NOT:0000006000] g_url_for==>http://localhost:5000/debug_view?org.apache.catalina.filters.CSRF_NONCE=
2018-07-02 21:35:57,872 [abstract_gpylib.log] [Dummy-1] [DEBUG] - 127.0.0.1 [APP_ID/DEV_APP][NOT:0000006000] g_url_for==>http://localhost:5000/debug?org.apache.catalina.filters.CSRF_NONCE=
2018-07-02 21:35:57,873 [abstract_gpylib.write] [Dummy-1] [WARNING] - 10.10.9.1 - - [02/Jul/2018 21:35:57] "GET / HTTP/1.1" 200 -

2018-07-02 21:35:57,957 [abstract_gpylib.write] [Dummy-1] [WARNING] - 10.10.9.1 - - [02/Jul/2018 21:35:57] "GET /static/favicon.ico HTTP/1.1" 200 -

2018-07-02 21:36:37,012 [abstract_gpylib.write] [Dummy-1] [WARNING] - 10.10.9.1 - - [02/Jul/2018 21:36:37] "GET /debug HTTP/1.1" 200 -

2018-07-02 21:36:37,084 [abstract_gpylib.write] [Dummy-1] [WARNING] - 10.10.9.1 - - [02/Jul/2018 21:36:37] "GET /favicon.ico HTTP/1.1" 200 -

